* {
   margin: 0;
   padding: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   box-sizing: border-box;
 }
 
 .container {
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(135deg, #8cc4dc, #063e86);
   padding: 10px;
 }
 
 .todo-app {
   width: 100%;
   max-width: 540px;
   background: #fff;
   margin: 110px auto 20px;
   padding: 40px 30px 70px;
   border-radius: 10px;
 }
 
 h2 {
   color: #2b3a51;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
 }
 
 .row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #edeef0;
   border-radius: 30px;
   padding-left: 20px;
   margin-bottom: 25px;
 }
 
 input {
   flex: 1;
   border: none;
   outline: none;
   background: transparent;
   padding: 10px;
   font-weight: 14px;
 }
 
 button {
   border: none;
   outline: none;
   padding: 16px 50px;
   background: #08b4ac;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   border-radius: 40px;
 }
 #sortable {
   list-style-type: none;
   font-size: 17px;
   margin: 0;
   padding: 0;
   border: 1px solid #08b4ac;
   border-radius: 5px; 
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
   cursor: grab; 
   box-sizing: content-box;
 }
 
 #sortable li {
   padding: 15px 20px; 
   display: flex;
   border: none;
   height: 25px;
   align-items: center;
   justify-content: space-between;
   position: relative; 
   cursor: grab;
   transition: background-color 0.2s ease-in-out;
 }
 
 #sortable li:hover {
   background-color: #eee; 
 }
 #sortable li:nth-child(odd) {
   background-color: #6ebebc; 
 }
 #sortable-helper {
   opacity: 0.7;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 }
 
 .delete-task {
   border: none;
   outline: none;
   font-size: 30px;
   border-radius: 60px;
   background-color: transparent;
   cursor: pointer;
   color: #01090c;
 }
 
 .completed {
   text-decoration: line-through;
   color: #7b3535;
 }
 
